@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(6, 32, 151);
  background: radial-gradient(
    circle,
    rgba(6, 32, 151, 1) 0%,
    rgba(28, 20, 86, 1) 35%,
    rgba(17, 14, 38, 1) 78%
  );
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #004ee7;
}

.section_title {
  @apply text-4xl font-bold;
}

.section_title_smaller {
  @apply text-2xl font-medium;
}

.section_subtitle {
  @apply uppercase text-xs font-bold;
}

.nav {
  @apply basis-[21em] flex flex-col justify-between h-screen gap-9 p-9 bg-transparent;
}

.nav_open {
  @apply absolute card_charts transition-all h-screen rounded-none;
}

.nav_exit {
  @apply hidden;
}

.card {
  background: url("../public/assets/images/cardbg.png") right 70% / contain
      no-repeat,
    linear-gradient(
      to top right,
      rgba(6, 32, 151, 1) 0%,
      rgba(28, 20, 86, 1) 35%,
      rgba(17, 14, 38, 1) 78%
    );
  background-position: right 70%;
  background-size: contain;
  background-repeat: no-repeat;
}

.card_charts {
  padding: 30px;
  border-radius: 30px;
  background: rgb(6, 32, 151);
  background: linear-gradient(
    to top right,
    rgba(6, 32, 151, 1) 0%,
    rgba(28, 20, 86, 1) 35%,
    rgba(17, 14, 38, 1) 78%
  );
}

#wellcome-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wellcome-title h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: white;
}

#wellcome-title h3 {
  color: white;
  padding-top: 1.1rem;
  text-align: center;
  width: 105%;
}

.btn {
  margin-top: 2rem;
}

#forma {
  display: flex;
  justify-content: center;
}

.login-bg {
  background-image: url("../public/assets/images/bg1.jpeg");
  background-size: cover;
}

.animate_fadeIn {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4em);
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}
